<%
=begin%>
 <a class="news-banner" href="ここにリンクを記入">
  <div class="news-banner__content d-flex align-items-center">
    <%= image_tag 'rantekun.png',class: "align-text-top",style: "width: 60px" %>
    <p class="mb-0">Powered by RUNTEQ</p>
  </div>
</a> 
<%
=end%>

<%= image_tag 'kusoapp_rantekun.png',class: "mx-auto d-block p-2", style: "max-width: 60%;" %>
    <div class="news-banner">
      <div class="news-banner__content d-flex align-items-center">
      <p class="mb-0">プログラミングスクールRUNTEQの提供でお届けしています。</p>
      </div>
    </div> 

<div class="haikei p-5">
<div class="container">
  <div class= "text-center">
    <div class= "p-5">
      <p>エンジニア経験不問！</p>
      <p>実用性なくてOK！</p>
      <p>とりあえず動けばOK！</p>
      <p>みんなで楽しくクソアプリを作ろう！</p>
    </div>
  </div>
</div>
<div class="container">
  <div class= "text-center">
    <%= image_tag 'keihin.png',class: "mx-auto d-block p-5", style: "max-width: 30%;" %>
    <p>RUNTEQキャリアトレーナー茂木さん執筆のらんてくんをTシャツにしちゃいました！</p>
    <p>お題にふさわしいアプリを作った10名様にプレゼントいたします！</p>
    <%= image_tag 'rantekun_t.png',class: "mx-auto d-block box" %>
  </div>
</div>
<div class="container">
  <div class= "text-center p-5">
    <div class="d-flex align-items-center justify-content-center">
      <%= image_tag 'normal_rantekun.png',class: "align-text-top ",style: "max-width: 5%" %>
      <h2 class= "p-4 mb-0">お題</h2>
    </div>
    <h2 class= "p-4 mb-0">『つらい』</h2>
    <p>※こじつけ理由大歓迎です！</p>
  </div>
</div>
<div class="container">
  <div class= "text-center">
    <%= image_tag 'kikan.png',class: "align-text-top p-5",style: "max-width: 40%" %>
    <p>4月29日(金)〜5月8日(日)23時59分締め切り</p>
  </div>
</div>
<div class="container">
  <div class= "text-center">
    <%= image_tag 'jyouken.png',class: "align-text-top p-5",style: "max-width: 30%" %>
    <p>デプロイされていて誰でも使える状態であること</p>
    <p>お題にそった作品になっていること</p>
    <p>1人何作品でも応募OK</p>
  </div>
</div>

<div class="container ">
  <div class= "text-center">
    <%= image_tag 'houhou.png',class: "align-text-top p-5",style: "max-width: 30%" %>
    <p>下記フォームより必要情報をご記入し、ご応募ください。</p>
    <p>※名前とメールアドレスは、当選した際のみ使用いたします。</p>
  </div>
</div>

  <div class="container">
    <div class="border col-md-8 offset-md-2 p-4 background" id="new_entry">
      <%= form_with model: @entry do |f| %>
        <%= render partial: "form", locals: { f: f } %>
      <% end %>
    </div>
  </div>

  <%= image_tag 'kusoapp_full.png',class: "mx-auto d-block p-5", style: "max-width: 50%;" %>
  <div class="container">
    <div class="row" id="entries">
      <% @entries.each do |entry| %>
        <%= render partial: "entry", locals: { entry: entry } %>
      <% end %>
    </div>
  </div>
</div>
