<%
=begin%>
 <a class="news-banner" href="ここにリンクを記入">
  <div class="news-banner__content d-flex align-items-center">
    <%= image_tag 'rantekun.png',class: "align-text-top",style: "width: 60px" %>
    <p class="mb-0">Powered by RUNTEQ</p>
  </div>
</a> 
<%
=end%>

<%= image_tag 'kusoapp_rantekun.png',class: "mx-auto d-block p-2", style: "max-width: 60%;" %>
    <div class="news-banner">
      <div class="news-banner__content d-flex align-items-center">
      <p class="mb-0">プログラミングスクールRUNTEQの提供でお届けしています。</p>
      </div>
    </div> 

<div class= "text-center">
  <div class= "p-5">
    <div>
    <p>エンジニア経験不問！</p>
    <p>実用性なくてOK！</p>
    <p>とりあえず動けばOK！</p>
    <p>みんなで楽しくクソアプリを作ろう！</p>
  </div>

  <h2 class= "p-5"> 景品</h2>
  <p>RUNTEQキャリアトレーナー茂木さん執筆のらんてくんをTシャツにしちゃいました！</p>
  <p>お題にふさわしいアプリを作った10名様にプレゼントいたします！</p>
  <%= image_tag 'rantekun_t.png',class: "mx-auto d-block box" %>

  <h2 class= "p-5">お題</h2>
  <p>4月29日(金)12時からYouTubeライブ配信にて発表</p>
  <p>発表までお待ち下さい。</p>


  <h2 class= "p-5">開催期間・応募期間</h2>
  <p>4月29日(金)〜5月6日(金)23時59分締め切り</p>

  <h2 class= "p-5">応募方法</h2>
  <p>下記フォームより必要情報をご記入し、ご応募ください。</p>
  <p>※名前とメールアドレスは、当選した際のみ使用いたします。</p>
</div>
  <div class="container">
    <div class="border col-md-8 offset-md-2 p-4">
      <%= form_with model: @entry do |f| %>
      <div class="mb-3">
          <label class="form-label">お名前</label>
          <%= f.text_field :name, class: "form-control rounded-0" %>
      </div>
      <div class="mb-3">
          <label class="form-label">メールアドレス</label>
          <%= f.text_field :email, class: "form-control rounded-0" %>
      </div>
      <div class="mb-3">
          <label class="form-label">作品タイトル</label>
          <%= f.text_field :title, class: "form-control rounded-0" %>
      </div>
      <div class="mb-3">
        <label class="form-label">紹介文</label>
        <%= f.text_field :description, class: "form-control rounded-0" %>
      </div>
      <div class="mb-3">
        <label class="form-label">作品イメージ画像</label>
        <%= f.file_field :photo %>
      </div>
        <%= f.submit '作成', class: "btn btn-light rounded-0" %>
        <% end %>
    </div>
  </div>

  <h2 class= "p-5 text-center">クソアプリ一覧</h2>
  <%= image_tag 'kusoapp_full.png',class: "mx-auto d-block", style: "max-width: 60%;" %>
  <div class="container">
    <div class="row">
      <% @entries.each do |entry| %>
      <div class="col-6 p-2">
        <div class="dotted-line rounded-3 p-4">
          <div class="row">
            <div class="col-md-6"> 
              <% if entry.photo? %>
                <%= image_tag entry.photo.url%>
              <% end %>
            </div>
            <div class="col-md-6">
            <div class="card-body">
              <div class="card-title">
                <%= entry.title %> 
              </div>
              <div class="card-text">
                <%= entry.description %>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
